<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Codephile MDG</title>
</head>
<body>


<div class="logo">
    <img class="iitrLogo" src="/static/images/iitr_new_logo_black.png"><a href="https://mdg.iitr.ac.in/"><img class="mdgLogo"
                                                                            src="/static/images/mdg_logo.svg"></a>
</div>


<div class="head">
    <p class="name">CODEPHILE</p>
    <p class="dscrptn">An online platform to analyse and improve your<br>Competitive Programming Skills.</p>
    <a href="https://play.google.com/store/apps/details?id=in.ac.iitr.mdg.codephile"><button>Download</button></a>
</div>


<div class="mob">
    <img class="mob1" src="/static/images/smartmockups_1copy.png"><img class="mob2"
                                                                       src="/static/images/smartmockups_2.png"><img
            class="mob3" src="/static/images/smartmockups_3copy.png">
</div>


<div class="ftr">
    <pre class="ftr"><hr class="bef">FEATURES<hr class="aft"></pre>
</div>

<div class="f1">
    <p class="knoYp">Know your progress</p>
    <p class="f1"><img class="f1" src="/static/images/smartmockups_km0yze3e 1.png"></p>
    <p class="f1d">No need to check for different coding platforms, get all your stats at one place.</p>
</div>

<div class="f2">
    <p class="compWo">Compete with others</p>
    <p class="f2"><img class="f2" src="/static/images/smartmockups_km0zfh9g 1.png"></p>
    <p class="f2d">View your friends' profiles to check their stats for a healthy competition.</p>
</div>

<div class="f3">
    <p class="persF">Personalised Feed</p>
    <p class="f3"><img class="f3" src="/static/images/smartmockups_km0z5fjw 2.png"></p>
    <p class="f3d">Keep updated with your and your friends' activity and their latest submissions.</p>
</div>

<div class="f4">
    <p class="trackC">Track Contests</p>
    <p class="f4"><img class="f4" src="/static/images/smartmockups_km0zv5u3 1.png"></p>
    <p class="f4d">Track all upcoming contests from major competitive programming platforms at one place.</p>
</div>

<div class="footer">
    <p class="line"></p>

    <div class="gglPlay">
    <pre class="gglPlay">
    Excited to try? Download it now!
    <a href="https://play.google.com/store/apps/details?id=in.ac.iitr.mdg.codephile"><img class="gglPlay" src="/static/images/image 15.png"></a>
    </pre>
    </div>

    <div class="contact">
    <pre class="contact">
        Contact Us
        <a href="https://twitter.com/mdgiitr"><img class="dove" src="/static/images/ant-design_twitter-outlined.png"></a><a href="https://www.facebook.com/mdgiitr/"><img class="fb"
                                                                                    src="/static/images/ant-design_facebook-filled.png"></a><a href="https://in.linkedin.com/company/mdgiitroorkee"><img
                class="lin" src="/static/images/ant-design_linkedin-filled.png"></a>
        
        <a href="mailto:mdg@iitr.ac.in" title="mdg@iitr.ac.in">mdg@iitr.ac.in</a>
    </pre>
    </div>


    <pre class="note">
Made with <img class="heart" src="/static/images/heart.png"> by MDG
</pre>
</div>
</body>
</html>