<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Invalid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
        .verified{
            margin-top: 25px;
            text-align: center;
            color: #dddddd;
            font-size: 3rem;
        }
        .icon{
            text-align: center;
            font-size: 3rem;
            color: #f05454;
        }
        .emv{
            padding-top: 12vh;
            position: relative;
            top: 30vh;
            width: 100%;
            min-height: 30vh;
            background-color: #30475e;
        }
    </style>
</head>
<body>
    <div class ="container-fluid">
        <div class="container emv">
            <div class="row">
                <h1 class ="verified">Sorry, the password reset link is no more active <i class="fa fa-frown-o fa-5x icon"></i></h1>
            </div>
        </div>
    </div>
</body>
</html>