<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
  </head>

  <body>
    <div class="row">
      {{ .status }}
      <div class="col-md-12" role="main">
        <div class="post-container">
          <div class="post-content">
            <form
              id="query_form"
              class="form-horizontal form-well"
              role="form"
              action=""
              method="post"
            >
              <div>
                New Password
                <input
                  type="text"
                  class="form-control"
                  name="reset_password"
                />
              </div>
              <div>
                Confirm Password
                <input
                  type="text"
                  class="form-control"
                  name="confirm_password"
                />
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
